@import "../styles/settings/_variables.scss";

.container {

  .row--error {
    justify-content: center;

    .error {
      padding: 15px;
      border: 3px solid $colorAlertText;
      border-radius: 10px;
      box-shadow: 1px 1px 3px 3px lighten($colorAlertText, 40%);
      position: relative;

      h3 {
        color: $colorAlertText;
        font-size: 1.4em;
        line-height: 1.2em;
      }

      p {
        color: $colorText;
        margin: 10px 0;

        &:last-of-type {
          margin-bottom: 0;
          padding-right: 30px;
        }
      }

      div {
        color: $colorAlertText;
        font-size: 2em;
        padding: 5px;
        border-left: 3px solid $colorAlertText;
        border-top: 3px solid $colorAlertText;
        border-radius: 5px 0 0 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        transition: 300ms;

        &:hover {
          color: $colorTextAlt;
          background-color: $colorAlertText;
        }
      }
    }

    .error--alt {

      h3 {
        padding-right: 45px;
      }

      .material-icons {
        font-size: 3em;
        border-radius: 5px 5px 0 0;
      }
    }
  }
}

@media (min-width: 500px) {
  .container {

    .row--error {

      .error {

        h3 {
          font-size: 1.6em;
        }

        p {
          font-size: 1.2em;
        }

        div {
          font-size: 2.8em;
        }
      }

      .error--alt {

        .material-icons {
          font-size: 3.2em;
        }
      }
    }
  }
}
