@import "../styles/settings/_variables.scss";

.container {

  .row--error {
    justify-content: center;

    .error {
      border: 3px solid red;
      margin: 10px 0;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 1px 1px 3px 3px lighten(red, 40%);
      position: relative;

      h3 {
        font-size: 1.4em;
        color: red;
        line-height: 1.2em;
      }

      p {
        color: grey;
        margin: 10px 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      div {
        font-size: 2em;
        padding: 5px;
        color: red;
        border-left: 3px solid red;
        border-top: 3px solid red;
        border-radius: 5px 0 0 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        transition: 300ms;

        &:hover {
          color: white;
          background-color: red;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  main {
    .container {
      .row--error {
        .error {
          h3 {
            font-size: 1.6em;
          }
          p {
            font-size: 1.2em;
          }
          div {
            font-size: 2.8em;
          }
        }
      }
    }
  }
}
