@import "../styles/settings/_variables.scss";

main {

  .container {

    .row--filter {
      flex-direction: row;
      justify-content: space-around;

      .col-2 {
        color: $colorTextAlt;
        background-color: $colorText;
        min-height: 42px;

        &:hover {
          background-color: $colorBoldedText;
        }

        i {
          font-size: 2.2em;
        }
      }
    }
  }
}
