@import "../styles/settings/_variables.scss";

main {
  .container {
    .row--filter {
      flex-direction: row;
      justify-content: space-around;

      .col-2 {
        background-color: grey;
        color: white;
        min-height: 42px;

        &:hover {
          background-color: black;
        }
        i {
          font-size: 2.2em;
        }
      }
    }
  }
}
