@import "../styles/settings/_variables.scss";

header.container {
  .row {
    justify-content: center;
    .col-9 {
      background-color: white;
    }
    .col-2 {
      span {
        font-size: 1.6em;
      }
    }
  }
}