@import "../styles/settings/_variables.scss";

header.container {
  .row {
    justify-content: center;

    .col-9 {
      background-color: white;

      label {
        color: grey;
      }

      fieldset {
        border-color: grey;
      }
    }

    .col-2 {
      span {
        font-size: 1.6em;
      }
    }
  }
}