@import "../styles/settings/_variables.scss";

header.container {

  .row {
    justify-content: center;

    .col-9 {
      background-color: $colorTextAlt;

      label {
        color: $colorText;
      }

      fieldset {
        border-color: $colorText;
      }
    }

    .col-2 {

      span {
        font-size: 1.6em;
      }
    }
  }
}