@import "../styles/settings/_variables.scss";

button.moreBtn {
  color: $colorTextAlt;
  background-color: $colorText;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: $colorBoldedText;
  }

  span {

    span {
      font-size: 2.5em;
      display: block;
    }
  }
}


