@import "../styles/settings/_variables.scss";

main {

  .container {
    padding-top: 25px;

    &:nth-of-type(3) {
      padding-top: 0;
    }

    .row--pokemon {
      flex-direction: column;
      align-items: center;

      .pokemon {
        margin-top: 25px;
        background-color: $pokemonBackground;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 3px $colorText;
        cursor: pointer;
        overflow: hidden;

        .pokemon__img {
          height: 200px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 300ms;
          transform: scale(1.1);

          &:hover {
            transform: scale(1.2);
          }
        }

        .pokemon__description {
          padding: 0 15px;
          transform: translateY(-20px);

          p {
            color: $colorText;
            text-align: right;

            &:first-of-type {
              font-size: 1.2em;
            }

            &:nth-of-type(2) {
              color: $colorBoldedText;
              font-size: 2em;
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }
      }

      .marginFix {
        margin: 25px 0 0 0 !important;
      }
    }

    ul.row--singlePokemon {
      justify-content: center;

      .pokemon {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 500px) {
  main {

    .container {

      .row--pokemon {

        .pokemon {

          .pokemon__img {
            transform: scale(1.2) translateY(10px);

            &:hover {
              transform: scale(1.3) translateY(7px);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  main {

    .container {

      .row--pokemon {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .pokemon {
          width: 46%;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  main {

    .container {

      .row--pokemon {

        .pokemon {
          width: 31%;

          &:last-of-type {
            margin: 25px auto 0;
          }
        }
      }
    }
  }
}