@import "../styles/settings/_variables.scss";

main {

  .container {

    .row--detailedPokemon {
      justify-content: center;

      .pokemon--details {
        background-color: $pokemonBackground;
        border: 1px solid $colorText;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 3px $colorText;
        position: relative;
        overflow: hidden;

        .pokemon__exit {
          font-size: 3em;
          padding: 5px;
          border-right: 3px solid $colorText;
          border-bottom: 3px solid $colorText;
          border-radius: 5px 0 0 0;
          cursor: pointer;
          position: absolute;
          z-index: 10;
          transition: 300ms;

          &:hover {
            color: $colorTextAlt;
            background-color: $colorText;
          }
        }

        .pokemon__title {
          font-size: 1.5em;
          line-height: 55px;
          text-align: right;
          border-bottom: 3px solid $colorText;
          z-index: 10;

          .pokemon__title__name {
            color: $colorBoldedText;
            font-weight: bold;
          }

          .pokemon__title__id {
            color: $colorText;
            margin: 0 15px;
          }
        }

        .pokemon__img {
          height: 250px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 300ms;

          &:hover {
            transform: scale(1.2);
          }
        }

        .pokemon__types {
          font-size: 1.5em;
          text-align: right;
          margin-right: 15px;
          transform: translateY(-20px);

          .pokemon__types__type {
            padding: 0 5px;
          }
        }

        .pokemon__flavorText {
          color: $colorText;
          font-size: 1.2em;
          text-align: justify;
          margin-bottom: 15px;
          padding: 0 15px;
        }

        .pokemon__box {
          border-top: 1px solid $colorText;
          border-bottom: 1px solid $colorText;
          box-shadow: 1px 1px 3px 3px $colorText;
          padding: 15px;
          display: flex;
          flex-direction: column;

          .pokemon__box__stats {
            font-size: 1.5em;
            text-align: right;

            .box__stats__stat {
              font-size: 0.8em;
              color: $colorText;

              &:first-of-type {
                margin-top: 10px;
                display: block;
              }
            }
          }

          .pokemon__box__abilities {
            font-size: 1.5em;
            text-align: left;

            .box__abilities__ability {
              color: $colorText;
              font-size: 0.8em;

              &:first-of-type {
                margin-top: 10px;
                display: block;
              }
            }
          }

          .pokemon__box__height, .pokemon__box__weight {
            color: $colorText;
            font-size: 0.8em;
          }
        }

        .pokemon__box2 {
          padding: 15px;
          display: flex;
          align-items: center;
          flex-direction: column;

          p {
            font-size: 1.5em;

            &:first-of-type {
              align-self: flex-start;
            }
          }

          a {
            color: $colorText;
            margin-top: 10px;
            display: block;
          }

          &:hover {
            color: $colorBoldedText;
            cursor: pointer;
          }
        }


        p.active {
          color: $colorBoldedText;
          text-decoration: underline;
        }

        .arrow {
          transform: rotateX(180deg);
          border: none;
          margin-top: 10px;
          position: relative;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  main {

    .container {

      .row--detailedPokemon {

        .pokemon--details {

          .pokemon__title {
            font-size: 2em;
          }

          .pokemon__box {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}