@import "../styles/settings/_variables.scss";

main {
  .container {
    padding-top: 20px;

    .row {
      flex-direction: column;
      align-items: center;

      .pokemon {
        margin: 10px 0;
        background-color: black;
        border-radius: 5%;
        height: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 1px 1px 5px 5px grey;
        cursor: pointer;

        .pokemon__img {
          height: 65%;
          width: 101%;
          background-color: navajowhite;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 300ms;

          &:hover {
            transform: scale(1.1);
          }
        }

        .pokemon__description {
          padding: 15px;
        }
      }
    }
  }
}