$numOfColumns: 12;
$singleColWidth: 100%/($numOfColumns);

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .row {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;

    [class*='col-'] {
      min-height: 1px;
    }

    @for $n from 1 through $numOfColumns {
      .col-#{$n} {
        width: $singleColWidth * $n;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;

    .row {
      width: 45%;
    }
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;

    .row {
      width: 30%;
    }
  }
}
