// Colors
$colorText: #747474;
$colorTextAlt: #985959;
$colorTextB: #000;
$colorTextW: #fff;
$colorBackgroundW: #fff;
$colorBackgroundAlt: #985959;
$colorBackgroundB: #000;
$colorBackgroundOlive: #71836B;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap&subset=latin-ext');
$fontBase: 'Open Sans', Arial, sans-serif;
$fontTitle: 'cinzel', serif;
$fontSize: 15px;
$lineHeight: 24px;
$fontWeight: 400;

//Mixins



