// Colors
$colorTitle: grey;
$colorBackgroundW: #fff;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');
$fontBase: 'Lato', sans-serif;
$fontSize: 15px;
$lineHeight: 24px;
$fontWeight: 400;




