// Colors
$colorText: #808080;
$colorBoldedText: #000;
$colorTextAlt: #fff;
$colorAlertText: #FF0000;
$colorBackground: #FFF0F5;
$pokemonBackground: #FFDEAD;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');
$fontBase: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
$fontTitle: 'Press Start 2P', cursive;
$fontSize: 15px;
$lineHeight: 24px;
$fontWeight: 400;




